[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
jsonpath = "*"
python-dotenv = "*"
allure-pytest = "*"
Faker = "*"
jsonpath-rw = "*"
jsonschema = "*"
[requires]
python_version = "3.6"
